/* Reset style */
*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box; 
}

img{
  max-width: 100%;  
  display: block;    
}

.container{
    width: 90%;
     max-width: 1280px; 
    margin: 0 auto;  
}

/* Common Styles */
.common-btn {
    background-color: #1D4ED8;
    border: none;
    padding: 14px 28px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.common-btn:hover{
    background:#1E40AF;
}

header{
    background:white;
}

nav{
    width:95%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:80px;
    padding: 40px 0; 
}

.logo img{
    width:145px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 40px;
}

ul li a {
    text-decoration: none;
    color: #575757;
    font-size:18px;
    font-weight:500;
}

nav ul li a:hover{
    color:#1D4ED8;
}

/* Hero Section */
.hero{
    height:850px;
    background:
        linear-gradient(rgba(0,0,0,.55),
                        rgba(0,0,0,.55)),
        url("./images/banner.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center 30%;
   
}

.hero-content{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    color:#ffff;
    padding-top:80px;
    
} 

.hero-content h1{
    font-size:80px;
    font-weight:700;
    line-height:1.1;
    margin-top:60px;

}

.hero-content p{
margin-top:20px;
max-width: 780px;
line-height: 1.5;
margin-bottom:100px;
font-size: 22px;
}

.hero-content .common-btn{
margin-top: 280px;
padding: 18px 55px;
font-size: 24px;
}

/* Speakers Section */
 .speakers{
   padding: 80px 0;
 }

 .speakers h2{
    text-align: center;
    font-size: 56px;
    margin-bottom: 60px;
 }

 .speaker-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:30px;
}

.speaker-card{
    border: 1px solid #d4d8e1;
    border-radius: 10px;
    overflow: hidden;
}

.speaker-card img{
    width:100%;
    height: auto;
    display: block;  
}

.speaker-info{
    padding: 20px;
}

.speaker-info h5{
 color: #2563EB;
 font-size: 12px;
 margin-bottom: 8px;
}

.speaker-info h3{
    margin-bottom:8px;
    font-size:20px;
}

.speaker-info p{
    color:#575757;
    font-size:14px;
}


/* Pricing Section Start */
.pricing{
    padding:100px 0;
}

.pricing h2{
    text-align:center;
    font-size:48px;
    font-weight:700;
    margin-bottom:15px;
}
.pricing-subtitle{
    text-align:center;
    color:#575757;
    font-size:16px;
    margin-bottom:60px;
}

.pricing-card-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:24px;
}

.pricing-card{
    border:1px solid #d4d8e1;
    border-radius:12px;
    padding:32px;
}

.pricing-card.active{
    background:#0D1B2A;
    color:white;
}

.pricing-card h5{
    color:#888888;
    font-size:13px;
    margin-bottom:15px;
}

.pricing-card.active h5{
    color:#93C5FD;
}

.pricing-card h3{
    font-size:44px;
    font-weight:700;
    margin-bottom:10px;
}

.price-text{
    color:#888888;
    margin-bottom:20px;
}

.pricing-card.active .price-text{
    color:#f9f5f5a7;
}

.pricing-card hr{
    margin:25px 0;
    border:none;
    border-top:1px solid #E5E7EB;
}

.pricing-card.active hr{
    border-top:1px solid #ffffff8a;
}

.pricing-card ul{
    display:flex;
    flex-direction:column;
    gap:18px;
    padding-left:20px;
    margin-bottom:30px;
}

.pricing-card ul li::marker{
    color:#2563EB;
}

.pricing-card button{
    width:100%;
}

.team-btn1 {
    background:white;
    border:1px solid #2563EB;
    color: #2563EB;
    border-radius:8px;
    padding:14px;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
}

.team-btn{
    background:white;
    color:#111827;
    border:1px solid #0D1B2A;
    border-radius:8px;
    padding:14px;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
}


.team-btn1:hover{
    background:#1a222a;
    color:white;
}

.team-btn:hover{
    background:#1a222a;
    color:white;
}

/* Why Attend Section */

.why-attend{
    padding:100px 0;
    background:#F8FAFC;
}

.why-attend h2{
    text-align:center;
    font-size:48px;
    font-weight:700;
    margin-bottom:15px;
}

.why-attend p{
    text-align:center;
    color:#575757;
    font-size:16px;
    margin-bottom:60px;
}

.why-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:24px;
}

.why-card{
    background:#ffffff;
    border:1px solid #d4d8e1;
    border-radius:12px;
    padding:30px 25px;
    text-align:center;
    transition:.3s;
}

.why-card:hover{
    transform:translateY(-8px);
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.icon{
    font-size:48px;
    margin-bottom:20px;
}

.why-card h3{
    font-size:24px;
    margin-bottom:15px;
    color:#0D1B2A;
}

.why-card p{
    font-size:16px;
    line-height:1.6;
    color:#575757;
    margin-bottom:0;
}


/* Footer */

footer{
    background:#0D1B2A;
    padding:40px 0 25px;
}

.footer-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.footer-logo{
    width:150px;
}

.social-icons{
    display:flex;
    gap:25px;
}

.social-icons a{
    color:white;
    font-size:24px;
    text-decoration:none;
    transition:.3s;
}

.social-icons a:hover{
    color:#2563EB;
}

footer hr{
    border:none;
    border-top:1px solid #334155;
    margin-bottom:25px;
}

.footer-bottom{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.footer-bottom p{
    color:#9CA3AF;
    font-size:16px;
}

.footer-links{
    display:flex;
    gap:30px;
}

.footer-links a{
    color:#9CA3AF;
    text-decoration:none;
    font-size:16px;
    transition:0.3s;
}

.footer-links a:hover{
    color:white;
}